
.lrshare_iconsprite32{
	cursor: pointer !important;
	float:left;
	height: 32px;
	margin: 4px !important;
	width: 32px;
	padding: 0px !important;
	border: none !important;
	background: url("../socialloginandsocialshare/images/socialshare/lrshare_iconsprite32.png") no-repeat scroll left top transparent;
	list-style-type: none !important;
}
.lrshare_iconsprite32.lrshare_delicious { background-position: 0px 0px; width: 32px; height: 32px;  } 
.lrshare_iconsprite32.lrshare_digg { background-position: -34px 0px; width: 32px; height: 32px;  } 
.lrshare_iconsprite32.lrshare_dotnetkicks { background-position: -68px 0px; width: 32px; height: 32px;  } 
.lrshare_iconsprite32.lrshare_email { background-position: -102px 0px; width: 32px; height: 32px;  } 
.lrshare_iconsprite32.lrshare_evenmore32 { background-position: -138px 0px; width: 32px; height: 32px;  } 
.lrshare_iconsprite32.lrshare_facebook { background-position: -174px 0px; width: 32px; height: 32px;  } 
.lrshare_iconsprite32.lrshare_google { background-position: -208px 0px; width: 32px; height: 32px;  } 
.lrshare_iconsprite32.lrshare_googleplus { background-position: -242px 0px; width: 32px; height: 32px;  } 
.lrshare_iconsprite32.lrshare_hyves { background-position: -276px 0px; width: 32px; height: 32px;  } 
.lrshare_iconsprite32.lrshare_linkedin { background-position: -310px 0px; width: 32px; height: 32px;  } 
.lrshare_iconsprite32.lrshare_live { background-position: -344px 0px; width: 32px; height: 32px;  } 
.lrshare_iconsprite32.lrshare_myspace { background-position: -378px 0px; width: 32px; height: 32px;  } 
.lrshare_iconsprite32.lrshare_pinterest { background-position: -412px 0px; width: 32px; height: 32px;  } 
.lrshare_iconsprite32.lrshare_print { background-position: -446px 0px; width: 32px; height: 32px;  } 
.lrshare_iconsprite32.lrshare_reddit { background-position: -480px 0px; width: 32px; height: 32px;  } 
.lrshare_iconsprite32.lrshare_sharingcounter32 { background-position: -514px 0px; width: 50px; height: 32px; padding-top:4px !important; font-size:18px; } 
.lrshare_iconsprite32.lrshare_tumblr { background-position: -576px 0px; width: 32px; height: 32px;  } 
.lrshare_iconsprite32.lrshare_twitter { background-position: -610px 0px; width: 32px; height: 32px;  } 
.lrshare_iconsprite32.lrshare_viadeo { background-position: -644px 0px; width: 32px; height: 32px;  } 
.lrshare_iconsprite32.lrshare_vkontakte { background-position: -678px 0px; width: 32px; height: 32px;  } 
.lrshare_iconsprite32.lrshare_wordpress { background-position: -712px 0px; width: 32px; height: 32px;  } 
.lrshare_iconsprite32.lrshare_yahoo { background-position: -746px 0px; width: 32px; height: 32px;  } 

div.current input, div.current textarea, div.current select {
  float: none !important;
}
dt.open h3 {
  background:#ddd !important;
}
dd {
  margin-left: 0px !important;
}
dt.tabs h3 {
  float: left;
  margin-right: 11px;
  border: #CCC 1px solid;
  padding: 9px;
  margin-bottom: 0px;
  margin-left: 2px;
  border-bottom: 0px;
  background: #fff;
}
div.current {
  clear: both;
}
.help_ul {
  margin:0 0 15px 25px;
  padding:0px;
  float:left;
  list-style:circle;
}
.help_ul li a {
  font-family:Arial, Helvetica, sans-serif;
  font-size:12px;
  color:#000000;
  line-height:160%;
}
.stay_ul {
  margin:0 0 15px 10px;
  padding:0px;
  float:left;
  list-style:none;
}
.stay_ul li {
  line-height:160%;
  float:left;
  margin:0 10px 0 0;
}
.sociallogin_table .sociallogin_subhead {
 font-weight: bold ;
 font-size: 13px ;
 font-weight: bold ;
}
#lrerror {
  background-image: url("images/error.png");
  background-repeat:no-repeat;
  background-position:left; 
  color:#FF0000; 
  height:20px; 
  padding: 4px 2px 2px 30px;
  background-color: #FEF5F1;
  border: 1px solid #ED541D;
}
#loading {
  background-image: url("images/loading.gif");
  background-repeat:no-repeat;
  padding: 0px 2px 0px 30px;
  height:20px;	
}
#lrsuccess {
  background-image: url("images/ok.png");
  background-repeat:no-repeat;
  background-position:left; 
  color:#669933; 
  height:20px; 
  padding: 4px 2px 2px 30px;
  background-color: #EAFFDC;
  border: 1px solid #60CF4E;
}
.sociallogin_form {
  padding: 0;
  background-color: #fff;
}
.sociallogin_form a {
  text-decoration: none !important;
}
.sociallogin_form .blank a {
  text-decoration: none !important;
  padding: 0 15px !important;
  font-weight: bold;
}
.sociallogin_form a:hover {
  text-decoration: none !important;;
}
.sociallogin_form legend {
  margin-left: 10px;
  line-height: 30px;
}
.sociallogin_form .sociallogin_row {
  padding: 5px 10px;
  font-size: 12px;
  clear: both;
  overflow: hidden;
}
.sociallogin_form .sociallogin_row_title {
  font-size: 14px;
  font-weight: bold;
  margin-top: 15px;
  color:#00ccff;
}
.sociallogin_form .sociallogin_row_button {
 background-color: #F6F6F6;
 border-top: 1px dotted #ddd;
 margin-top: 14px;
 padding: 5px 10px;
}
.sociallogin_form .sociallogin_row_description {
 padding: 5px 0 10px 10px;
 font-weight: bold;
 color:#00ccff;
}
.sociallogin_form_main {
 background-color: #EAF7FF;
}
.sociallogin_form_main .sociallogin_row {
 margin-bottom: 7px;
}
.sociallogin_form_main .sociallogin_row_button {
 background-color: #EAF7FF;
}
.icon-48-configuration {
    background-image: url("images/configuration.gif");
}
.sociallogin_table {
 background-color: #efefef ;
 border: 1px solid #ccc ;
 margin-bottom: 10px ;
 border-collapse: collapse;
 font-family: sans-serif;
 font-size: 12px;
 line-height: 1.4em;
 margin-left: 2px;
 width: 100%;
}
.sociallogin_table input {
 border-color: #aaa ;
}
.sociallogin_table .head {
 font-weight: bold ;
 font-size: 13px ;
 font-weight: bold ;
 background-color: #ddd ;
}
.sociallogin_table th, .sociallogin_table label {
    color: #222222;
    text-shadow: 0 1px 0 #FFFFFF;
}
.sociallogin_table th {
    padding: 10px;
    text-align: left;
    vertical-align: top;
    width: 200px;
}
.sociallogin_table th, .sociallogin_table label {
    font-weight: normal;
    text-shadow: 0 1px 0 #FFFFFF;
}
.sociallogin_table td {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 9px;
    padding: 8px 10px;
}
.sociallogin_table td, textarea {
    line-height: inherit;
}
.sociallogin_table td, textarea, input, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
.sociallogin_table tr td.sociallogin_row {
 line-height: 36px ;
}
.sociallogin_table tr.description td {
 color: #0D5995 ;
}
.sociallogin_table .sociallogin_row_white {
 background-color: #fff ;
}
.sociallogin_table th, .sociallogin_table label {
    color: #222222;
    text-shadow: 0 1px 0 #FFFFFF;
}
.sociallogin_table th {
    padding: 10px;
    text-align: left;
    vertical-align: top;
    width: 200px;
}
.sociallogin_table th, .sociallogin_table label {
    font-weight: normal;
    text-shadow: 0 1px 0 #FFFFFF;
}
.twitter_box {
	width: 58px; height: 34px;
	position: relative;
	background: #fff;
	border: 1px solid #bbb;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 4px;
	margin-left: 65px;
}
.twitter_box:after, .twitter_box:before{
	width: 0; height: 0;
	position: absolute;
	top: 100%;
	border: solid transparent;
	pointer-events: none;
	content: " ";
}
.twitter_box:after{
	left: 50%;
	border-top-color: #fff;
	border-width: 3px;
	margin-left: -3px;
}
.twitter_box:before{
	left: 50%;
	border-top-color: #aaa;
	border-width: 4px;
	margin-left: -4px;
}
.twitter_box #followers{
	width: 100%; height: auto;
	position: absolute;
	top: 0px; left: 0px;
	font-family: "Helvetica Neue", helvetica, arial, sans-serif;
	font-size: 16px; line-height: 34px;
	letter-spacing: 0;
	white-space: nowrap;
	color: #333;
	text-align: center;
	-webkit-font-smoothing: subpixel-antialiased;
}
.open{
    background: none repeat scroll 0 0 #F9F9F9;
    border-bottom: 1px solid #F9F9F9;
    color: #000000;
	float: left;
    z-index: 100;
	border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
	 margin-left: 3px;
    padding: 4px 10px;
}
.closed{
    background: none repeat scroll 0 0 #F0F0F0;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    color: #666666;
    float: left;
    margin-left: 3px;
    padding: 4px 10px;
}
.tabs{
	float: left;
	margin: 10px 0 -1px;
	z-index: 50;
}
.current{
border: 1px solid #CCCCCC;
clear: both;
padding: 10px;
}
.lrbutton{
	color: #000000;
	font-size: 18px;
	padding: 3px 21px;
}
.btn-small {
    font-size: 11px;
    line-height: 16px;
    padding: 3px 9px;
}
.sociallogin_row_button {
    background-color: #F6F6F6;
    border-top: 1px dotted #DDDDDD;
    margin-top: 14px;
    padding: 5px 10px;
}
.sociallogin_row {
    clear: both;
    font-size: 12px;
    overflow: hidden;
    padding: 5px 10px;
}
.btn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: #BBBBBB #BBBBBB #A2A2A2;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 0;
    padding: 4px 14px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}
.btn:hover {
    background-color: #E6E6E6;
    background-position: 0 -15px;
    color: #333333;
    text-decoration: none;
    transition: background-position 0.1s linear 0s;
}